<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>FuelSwitch AI</string>
    <key>CFBundleDisplayName</key><string>FuelSwitch AI</string>
    <key>CFBundleIdentifier</key><string>ai.fuelswitch.app</string>
    <key>CFBundleExecutable</key><string>FuelSwitch</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.0.5</string>
    <key>CFBundleVersion</key><string>6</string>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Tomasz Bołoz (https://www.damtox.pl). All rights reserved.</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>LSUIElement</key><true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key><string>ai.fuelswitch.app.launcher</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fuelswitch</string>
            </array>
        </dict>
    </array>
    <key>SUFeedURL</key><string>https://raw.githubusercontent.com/tomaszboloz/FuelSwitch-AI/main/appcast.xml</string>
    <key>SUPublicEDKey</key><string>Y4RQVuLHDPbJtgIlQwu6ApQBtyQca87bETg3Y4do4sk=</string>
    <key>SUEnableAutomaticChecks</key><false/>
    <key>SUScheduledCheckInterval</key><integer>21600</integer>
    <key>SUAllowsAutomaticUpdates</key><true/>
</dict>
</plist>
